body {
  font-family: "Lato", sans-serif;
}

.version{
  font-size: 13px;
}

.sidenav {
  height: 100%;
  width: 127px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding: 7px;
}

.sidenav a {
  padding: 9px 16px 7px 16px;
  text-decoration: none;
  font-size: 13px;
  color: #818181;
  display: block;
  text-align: center;
  margin-top: 30px;
  border-bottom: 2px solid;
}

.sidenav p{
  color: white;
}

.sidenav a:hover {
  color: #f1f1f1;
  font-size: 18px;
  white-space: nowrap;
}

.main {
  margin-left: 288px;
  font-size: 28px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* CONFIGURAÇÕES DO MENU NO TOP */

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  justify-content: flex-end;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.c a:hover {
  font-size: 23px;
}

.iconLogout {
  cursor: pointer;
}

.nav-item{
  margin-right: 20px !important;
}